# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.npm/
.vite/

# =========================
# Python / ML caches
# =========================
.cache/
.cache/**
huggingface/
.huggingface/
transformers_cache/
torch_cache/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.temp